* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-body {
    background-color: lightgreen;
    border-top: 2px solid darkgreen;
}

.container-lg {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: black;
    background-color: indianred;
    height: 50px;
    border: 2px solid black;
}